/* -------------------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------------------- */

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: rgb(242, 241, 241);
  font-family: 'Karla', sans-serif;
}

/* -------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------------------------- */

h1 {
  font-size: 40px;
  margin-bottom: 120px;
  text-align: center;
  color: #4bba50;
}
h2 {
  text-align: center;
  font-size: 15px;
  color: #4bba50;
}
.main {
  height: 100%;
}

/* -------------------------------------------------- */
/* MAP SECTION */
/* -------------------------------------------------- */

.map {
  width: 60%;
  height: 100%;
  display: inline-block;
  float: left;
}

/* -------------------------------------------------- */
/* ICONS */
/* -------------------------------------------------- */


.fas:first-child {
  float: none;
}

.fas {
  float: right;
  color: rgb(201, 209, 27);
}

.fa-times {
  float: right;
}

/* -------------------------------------------------- */
/* BUTTONS */
/* -------------------------------------------------- */

.commentButton {
  background-color: #4bba50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* -------------------------------------------------- */
/* RESTAURANTS LIST SECTION */
/* -------------------------------------------------- */


.reviews {
  width: 40%;
  display: inline-block;
}

.filterText {
  margin-bottom: 20px;
  text-align: center;
  color: #4bba50;
  font-size: 14px;
}
.filterText span {
  margin-right: 10px;
  margin-left: 10px;
}

.stars {
  float: right;
  margin-left: 5px;
}

ul {
  padding: 0px;
  margin: 0px;
  text-align: left;
  font-size: 12px;
}

.name {
  background: white;
  list-style: none;
  padding: 10px;
  padding-left: 20px;
  justify-content: space-around;
  box-shadow: 2px 0 10px rgba(0,0,0,.2);
  transition: all 0.2s;
}

.review {
  display: none;
  background: rgb(244, 244, 244);
  list-style: none;
  padding: 25px;
  justify-content: space-around;
  box-shadow: 2px 0 10px rgba(0,0,0,.2);
  transition: all 0.2s;
}

.comment {
  font-size: 12px;
}


.name:hover {
  background: grey;
  color: white;
}

.addCommentZone {
  display: none;
  margin-top: 10px;
  width: 300px;
}

.review label {
  margin-right: 30px;
}

/* styles on map */

h3  {
  color: #4bba50;
  font-weight: bold;
}

/* .infosMap {
  text-align: center;
} */

.infosMap span {
  margin-right: 5px;
  font-weight: bold;
  font-size: 12px;
}

.infosMap p {
  margin-top: -5px;
  font-size: 10px;
}

.infosMap i {
  margin-left: 5px;
  float: none;
}

.mapReview {
  color: #4bba50;
  font-weight: bold;
}


/* input form to add a new restaurant */

.newRestaurantForm {
  display: none;
  width: 30%;
  margin-left: 35%;
  position: absolute;
  top: 20%;
}

.newRestaurantInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.newRestaurantSubmit {
    width: 100%;
    background-color: #4bba50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.newRestaurantSubmit:hover {
    background-color: #45a049;
}

form select {
  float: right;
  width: 100px;
}

/* closing tag on input field */

.fa-times:before {
right: 32px;
top: 32px;
width: 32px;
height: 32px;
cursor: pointer;
}
